~Helix.db3@venmo.com
unidentified-frequcncy.blogspot.com
Individual profile for Play and YouTube
Payments profile ID: 8605-5565-4423
# Images
images/avatars/
images/captchas/
images/smileys/
images/member_photos/
images/signature_attachments/
images/pm_attachments/

# For security do not publish the following files
system/expressionengine/config/database.php
system/expressionengine/config/config.php

# Caches
sized/
thumbs/
_thumbs/
*/expressionengine/cache/*
Run npm run build
  npm run build
  shell: /usr/bin/bash -e {0}
  env: admob.com
    CI: true
